

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #333;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: url(images/background.jpg);
    background-repeat:no-repeat; 
    background-size: cover;
    background-position:center; 
    background-attachment:fixed; 
    height:100%; 
    width:100%;
    overflow-x: hidden;
    background-color: rgba(0,0,0,.5);
}

/* @media screen and (max-width: 768px){

    body {
        background: url(images/background.jpg);
        background-repeat:no-repeat; 
        background-size: cover;
        background-position:right; 
        background-attachment:fixed; 
        height:100%; 
        width:100%;
        overflow-x: hidden;
        background-color: rgba(0,0,0,.5);
    }
} */

.clearfix:after {
    content: "";
    display: block;
    clear: both;
  }

a {
    text-decoration: none;
}

h2 {
    font-size: 3.2rem;
    font-weight: 800;
    letter-spacing: .5rem;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 2.5rem;
    line-height: 1.25;
}

p {
    font-size: 2.2rem;
    letter-spacing: .15rem;
    text-indent: 1rem;
    font-style: italic;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

/* HEADER */

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
}

.main-nav {
    position: fixed;
    width: 100%;
    height: 10rem;
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}


.hamburger-menu {
    height: 5rem;
    width: 5rem;
    background-color: #eee;
    border-radius: .4rem;
    box-shadow: .5rem .5rem, 1rem #cacaca,
                -.5rem -.5rem 1rem #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.hamburger-menu:hover {
    box-shadow: inset .5rem .5rem 1rem #cacaca,
                inset -.5rem -.5rem 1rem #fff;
}

.bar {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
    position: relative;
    transition: background-color .5s;
}

.bar::before,
.bar::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #333;
    transition: all .5s;
}

.bar::before {
    top: -.8rem;
}

.bar::after {
    top: .8rem;
}

.open .bar {
    background-color: transparent;
}

.open .bar::before {
    top: 0;
    transform: rotate(135deg);
}

.open .bar::after {
    top: 0;
    transform: rotate(-135deg);
}

.nav-list {
    width: 50rem;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #eee;
    transform: translateX(55rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: -.5rem 0 1rem rgba(0,0,0,.2);
    z-index: 1500;
    transition: transform .5s;
}

.open .nav-list {
    transform: translateX(0);
}

.nav-item {
    list-style: none;
    border-bottom: 2px solid #009B77;
}

.nav-link {
    text-decoration: none;
    display: block;
    color: #333;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: .5rem;
    transition: color .5s;
}

.nav-link:hover {
    color: #009B77;
}

.banner {
    width: 100%;
    height: 100vh;
    position: relative;
}

.banner-clipped {
    width: 100%;
    height: 75vh;
    background-color: #eee;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
    transform-origin: right;
    z-index: 10;
}
    

.banner-textbox {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
    color: #333;
    padding: 1rem;
    z-index: 20;
}

.main-heading {
    font-size: 4.5rem;
    font-weight: 900;
    letter-spacing: 1rem; 
}

.sub-heading {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .5rem;
    font-style: italic;
}

.cta-btn {
    display: inline-block;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #009B77;
    padding: 1rem 4rem;
    margin-top: 1.5rem;
    border-radius: .4rem;
    box-shadow: 3px 3px 1rem rgba(0,0,0,.3);
    position: relative;
}

.cta-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: inherit;
    z-index: -1;
}

.cta-btn:hover::after {
    transform: scaleX(1.2) scaleY(1.6);
    opacity: 0;
    transition: all .5s;
}


@media screen and (max-width: 1200px){
    .banner-clipped {
        width: 100%;
        height: 100vh;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    }
    .logo a {
        color: #333;
        outline-color: #333;
    }
    .main-heading {
        font-size: 3.5rem;
    }
    .sub-heading {
        font-size: 1.2rem;
    }
    .cta-btn {
        padding: 1rem 2.5rem;
    }
}

@media screen and (max-width: 760px){
    .banner-textbox {
        width: 100%;
        position: absolute;
        top: 40%;
        left: 50%;
    }       
    .nav-list {
        width: 70%;
        justify-content: space-between;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    .nav-link {
        font-size: 1.2rem;
    }
    .main-heading {
        font-size: 2.2rem;
    }
    .sub-heading {
        font-size: 1.2rem;
    }
    .cta-btn {
        padding: 1rem 2.5rem;
        margin-top: .5rem;
    }
}

@media screen and (max-width: 650px){
    .nav-link {
        font-size: 1.1rem;
    }
    .main-heading {
        font-size: 2.4rem;
    }
    .sub-heading {
        font-size: 1.2rem;
    }
    .cta-btn {
        padding: 1rem 2.5rem;
        margin-top: -.5rem;
    }
}


/* ABOUT ME */

.aboutme {
    height: auto;
    top: 0;
    left: 0;
    background-color: #eee;
    clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
}

.aboutme-content {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10rem;
    margin-bottom: 2rem;
    padding-top: 10rem;
    padding-top: 10rem;
    padding: 10rem 5rem;
}

.aboutme-heading {
    font-size: 3.2rem;
    line-height: 1.25;
}
        
.aboutme-textbox p {
    font-size: 1.8rem;
}

.aboutme-heading span {
    color: #009B77;
    font-style: italic;
}

.aboutme-hello {
    color: #afafaf;
}

.aboutme-text {
    width: 65%;
}

.aboutme-textbox {
    width: 70%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.aboutme-quote {
    margin-top: 4.5rem;
    color: #444444;
    font-style: italic;
    font-size: 1.4rem;
    font-family: 'Dancing Script';
}
/* ABOUTME FLANK */

.aboutme-flank {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}


.flank-top,
.flank-bottom {
    margin-right: 5rem;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flank-img,
.flank-img2 {
    width: 100%;
    height: 65%;
    border-radius: 50%;
    box-shadow: 2px 2px 1rem rgba(0,0,0,.5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

.flank-img {
    background-image: url(./images/aboutme1.jpg);

}

.flank-img2 {
    background-image: url(./images/aboutme2.jpg);
   
}

.flank-img:hover {
    transform: rotate(360deg);
    transition: 850ms;
}

.flank-img2:hover {
    transform: rotate(-360deg);
    transition: 850ms;
}

/* DESKTOP */
@media screen and (max-width: 1200px){
    
    .aboutme-content {
        margin-top: 10rem;
        padding-top: 10rem;
        padding-left: 1rem;
        padding-right: 4rem;
    }   

    /* ABOUTME FLANK */
    
    .aboutme-flank {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ededed;
    }
    
    
    .flank-top,
    .flank-bottom {
        width: 50%;
    }
}

/* TABLET */
    @media screen and (max-width: 992px){
        
        .aboutme-content {
            height: auto;
            width: 100%;
            margin-top: 10rem;
            padding-top: 10rem;
            padding-left: 1rem;
        }

/* ABOUT ME TEXTBOX */
.aboutme-textbox {
    width: 95%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.aboutme-heading {
    font-size: 2.8rem;
    line-height: 1.2;
    letter-spacing: .35rem;
}
            
.aboutme-textbox p {
    font-size: 1.8rem;
}

/* ABOUTME FLANK */
.aboutme-flank {
    display: none;
}

}

/* PHONE */
@media screen and (max-width: 768px){

    .aboutme {
        clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
    }

    .aboutme-content {
        padding-top: 5rem;
    }
    /* ABOUT ME TEXTBOX */
    .aboutme-heading {
        font-size: 2.5rem;
        line-height: 1.1;
    }
                
    .aboutme-textbox p {
        font-size: 1.7rem;
    }
    
    }
/* SMALL PHONE */
@media screen and (max-width: 550px) {

        /* ABOUT ME TEXTBOX */
        .aboutme-heading {
            font-size: 2.2rem;
            line-height: 1.1;
        }
                    
        .aboutme-textbox p {
            font-size: 1.4rem;
        }
        
        }    

  

/* HOBBIES */
.hobby {
    margin: 0 auto;
    padding-bottom: 5rem;
    height: auto;
    position: relative;
    background-color: #eee;
}

.hobby h2 {
    color: #333333;
    font-weight: 900;
    text-shadow: 5px 2px 11px rgba(66, 68, 90, 0.65);
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    position: relative;
    margin: 0 auto;
    font-style: italic;
}


/* .hobby h2::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 40%;
    background-color: #009B77;
    left: 30%;
    transform: translateY(6rem);
} */

.hobby-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}    

.hobby .item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 25vh;
    width: 33.333%;
    border-radius: 1%;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    display: flex;
    align-items: center;
    background-size: 110%;
    transition: 1s;
}

.hobby .item:nth-of-type(1) {
    background-image: url(./images/hobby1.jpg);
}

.hobby .item:nth-of-type(2) {
    background-image: url(./images/hobby2.jpg);
}

.hobby .item:nth-of-type(3) {
    background-image: url(./images/hobby3.jpg);
}

.hobby .item:nth-of-type(4) {
    background-image: url(./images/hobby4.jpg);
}

.hobby .item:nth-of-type(5) {
    background-image: url(./images/hobby5.jpg);
}

.hobby .item:nth-of-type(6) {
    background-image: url(./images/hobby6.jpg);
}

.hobby .item p {
    font-family: 'roboto', sans-serif;
    color: white;
    text-align: center;
    line-height: 8vh;
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, .5);
    font-size: 2rem;
    padding: 5px 0;
    width: 100%;
  }

  /* DESKTOP */
  @media screen and (min-width:993px) {


    .hobby .item p {
        opacity: 0;
        transition: 1s;
        cursor: default;
    }
    .hobby .item:hover p {
        opacity: 1;  
      }
      .hobby .item {
        margin: 0 auto;
        background-size: 110%;
        background-color: rgba(0, 0, 0, .8);
        transition: 1s;
      }
    
      .hobby .item:hover {
        background-size: 130%;
      }
  } 
/* TABLET */
    @media screen and (max-width: 992px){
        
        .hobby .item {
            height: 25vh;
            width: 50%;
            margin: 0 auto;
            border-radius: 1%;
            background-size: cover;
        }

        .hobby h2 {
            font-size: 2.8rem;
        }
        .hobby .item p {
            line-height: 6vh;
            text-shadow: 0 0 4px black;
            background-color: rgba(0, 0, 0, .5);
            font-size: 1.6rem;
            padding: 5px 0;
            width: 100%;
        }
}
    @media screen and (max-width: 769px) {
      
        .hobby {
            padding-bottom: 0;
        }   

    .hobby h2 {
        font-size: 2.2rem;
    }
    .hobby-flexbox {
        flex-direction: column;
    }
    
    .hobby .item {
        height: 15vh;
        width: 100%;
        margin: 0 auto;
        border-radius: 1%;
        background-size: 110%;
        background-size: cover;
    }

    .hobby .item p {
        line-height: 5vh;
        text-shadow: 0 0 4px black;
        background-color: rgba(0, 0, 0, .5);
        font-size: 1.4rem;
        padding: 5px 0;
        width: 100%;
      }
  }
  
  /* SPACE */

  /* .space {
      position: relative;
      height: 75vh;
      width: 100%;
  }
  .clip-path {
    position: relative;
    height: 75vh;
    background-color: #eee;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 0);
  } */

  /* MOJE UMIEJĘTNOŚCI */

  .skills {
      position: relative;
      width: 100%;
      height: auto;
      background-color: #eee;
      background-image: url(./images/background.png);
      background-repeat: repeat;
      animation: 80s linear 0s normal none infinite animate2;
    }
    @-webkit-keyframes animate {
      from {background-position:0 0;}
      to {background-position: -1200px 0;}
    }
    
    @-webkit-keyframes animate2 {
      from {background-position:0 0;}
      to {background-position: -1200px 0;}
    } 

.skills-mobile {
    display: none;
}

.skills-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 4rem;
    padding-right: 4rem;
}

   .skills-title {
        text-align: center;
        width: 100%;
   } 

  .skills-heading {
        position: relative;
        font-weight: 900;
        padding: 2% 4%;
        text-shadow: -3px 0px 5px rgba(66, 68, 90, 1);
        margin: 0 auto;
        font-style: italic;
  }

  .skills-box {
      background-color: #009B77;
      display: flex;
      flex-direction: column;
      height: 600px;
      width: 100%;
      padding: 2rem 4rem;
      overflow: hidden;
  }

.skills-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skills-card {
    position:relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22.5%;
    height: auto;
    background-color: rgba(255, 255, 255, .65);
    border-radius: 5px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, .2);
    cursor: pointer;
    padding-top: 4rem;
}

.skills-card:hover {
    background-color: rgba(255, 255, 255, .45);
}

.skills-card svg {
    position: relative;
    width: 210px;
    height: 210px;
}

.skills-card svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #f0f0f0;
    stroke-width: 10;
    stroke-linecap: round;
}

.skills-card svg circle:last-of-type {
    stroke-dasharray: 625px;
    stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
    stroke: #3498db;
}

.card-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-number h4 {
    font-weight: 200;
    font-size: 3.5rem;
}

.card-title {
    padding: 2rem;
}

.card-title h3 {
    font-size: 2.2rem;
    cursor: pointer;
}

.target-box {
    width: 100%;
    height: auto;
    padding: 4rem;
}

.target {
    color: #eee;
    font-size: 2.2rem;
}

/* DESKTOP */
@media screen and (max-width: 1200px) {

    .skills-content {
        padding-left: 2rem;
        padding-right: 2rem;
    }    
    
      .skills-heading {
            padding: 1% 2%;
      }
    
      .skills-box {
          padding: 1rem 2rem;
      }
    
    .card-number h4 {
        font-size: 3rem;
    }

    .card-title h3 {
        font-size: 2rem;
    }
    
    .target {
        font-size: 2rem;
    }    
} 
/* TABLET */
@media screen and (max-width: 992px) {

    .skills-content {
        display: none;
    }    

.skills-mobile {
    display: flex;
    width: 100%;
    height: auto;
}    

.skills-mobile-heading {
    position:relative;
    padding:2rem;
    text-align: center;
    color: white;
    font-size: 2.2rem;
    text-transform: uppercase;
}

.skills-mobile-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 155, 119, .65);
    padding: 4rem;
    overflow: hidden;
}
.skills-mobile-title {
    width: 100%;
    background-color: rgba(255, 255, 255, .65);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
}

.skills-stars {
    padding-left: 1.2rem;
}
.skills-mobile-title h3 {
    font-size: 1.8rem;
}
.skills-mobile-text {
    padding: 1rem;
    padding-bottom: 3rem;
}
.skills-mobile-text p {
    font-size: 1.6rem;
}


}

/* PHONE */
@media screen and (max-width: 768px){

.skills-mobile-box {
    padding: 1rem;
}
.skills-mobile-title h3 {
    font-size: 1.5rem;
}
.skills-mobile-text {
    padding: 1rem;
    padding-bottom: 2rem;
}
.skills-mobile-text p {
    font-size: 1.1rem;
}   

}    


  /* KONTAKT */

  .contact {
      height: auto;
      position: relative;
  }

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.contact-box {
    background-color: rgba(0, 0, 0, .65);
    height: auto;
    width: 65%;
    box-shadow: 0px 0px 19px 5px rgba(255, 255, 255, .05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contact-heading {
    font-size: 3.5rem;
}

.contact-box form {
    font-size: 2.2rem;
}

.contact-box h2 {
    color: white;
}

.contact-leftside {
    padding: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    color: white;
    text-transform: uppercase;
}

.contact-rightside {
    padding: 2rem;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.field {
    width: 100%;
    padding: .5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, .75);
    font-size: 2.1rem;
    margin-bottom: 2.2rem;
    transition: .3s;
}

.field:hover {
    background-color: #fff;
}

.field:focus {
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, .47);
}

.area {
    min-height: 150px;
}

.contact-btn {
    width: 240px;
    padding: .5rem 1rem;
    font-size: 2.2rem;
    background-color: #009B77;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
}

.contact-btn:hover {
    background-color: #27ae60;

}

@media screen and (max-width: 880px) {

    .contact-content {
        height: auto;
      }

    .contact-box {
        width: 100%;
        flex-direction: column;
    }

    .contact-heading {
        font-size: 2.8rem;
    }

    .contact-leftside {
        width: 100%;
        height: auto;
        display: flex;
    }
    
    .contact-rightside {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1200px) and (min-width: 881px) {

    .contact-box {
        width: 85%;
    }

    .contact-heading {
        font-size: 2.8rem;
    }

    .contact-leftside {
        padding: 2rem;
        width: 40%;
        height: auto;
        display: flex;
    }
    
    .contact-rightside {
        padding: 2rem;
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

}


/* FOOTER */

footer {
    padding: 2.5rem;
    background-color: rgba(26, 26, 26, .9);
    /* background-color: #1a1a1a; */
    border-top: 1px solid #333;
    position: relative;
}

footer h4 {
    color: white;
    font-size: 1.4rem;
}

footer p {
    float: right;
}






